@import "./assets/variables";
@import "./assets/header";
@import "./assets/home";
@import "./assets/single_book_view";
@import "./assets/login";
@import "./assets/leave_review";
@import "./assets/profile";
@import "./assets/add_book_form";

body {
  background-color: $background-color;
  color: $primary-text-color;
}

#root {
  min-width: 375px;
}

#pagination {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-row: 2/3 !important;
  overflow: auto;
}

.error {
  color: red;
}

footer {
  display: flex;
  justify-content: end;
  padding: 1rem;
  width: 100%;
}

button {
  color: $highlight-color;
  background-color: $primary-text-color;
  // border: 1px solid $accent-color;
  border: none;
  border-radius: 20px;
  padding: 4px 10px;
  transition: 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $highlight-color;
    color: $primary-text-color;
  }
}
