@import './variables';
@import './mixins';

section.addBook {
    display: grid;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 1rem;
    place-content: center;

    h2 {
        width: fit-content;
    }

    form#add_book {
        width: 100%;
        overflow: hidden;
        display: grid;
        gap: 1rem;
        padding: 0;

        textarea {
            resize: none;
            height: 30ch;

            @include md_srn {
                height: 10ch;
            }
        }


        input[type=number] {
            -moz-appearance: textfield;
        }

        input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .series {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

    }

}