@import './mixins';
@import './variables';


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $cta;

    h1 {
        font-size: 1.5rem;

        @include md_srn{
            font-size: 2em;
        }
    }

    ul.search {
        position: relative;
        list-style: none;
        margin-left: auto;

        @include md_srn {
            img {  
                display: none;
            }
        }


        form.search_form {
            position: absolute;
            right: 0;
            top: calc(1rem + 45px);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 6px;
            width: 200px;
            overflow: hidden;
            transition: 300ms ease;

            @include md_srn {
                position: relative;
                top: auto;
                right: auto;
                flex-direction: row;
                align-items: center;
                width: 300px;
            }

            input {
                width: 200px;
                padding: 4px;
                width: 100%;
            }

            button {
                margin-left: 8px;
                padding: 6px;
                background-color: $primary;
                color: $background;
                border: none;
                cursor: pointer;
                transition: 300ms ease-in-out;
                width: fit-content;
                padding: .25rem 1.5rem;

                &:hover {
                    background-color: $cta;
                }
            }
        }

    }

    #mobile_nav {
        position: relative;
        margin-left: 1rem;
        width: 32px;
        cursor: pointer;

        .line {
            width: 32px;
            height: 2px;
            background-color: $cta;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        ul.mobile_nav {
            position: absolute;
            right: -1rem;
            top: calc(1rem + 37px);
            display: flex;
            list-style: none;
            flex-direction: column;
            overflow: hidden;
            transition: 300ms ease-in;

            li {
                cursor: pointer;
                padding: 1rem 1.25rem;
                background-color: $dark-accent;
                border: 1px solid $light-accent;
            }
        }
    }
}