@import "./variables";
@import "./mixins";

#hero {
    display: none;
  #banner {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }

  @include md_srn {
    display: inline;
  }
}
