@import './variables';
@import './mixins';


article {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: 3rem;

    h1 {
        text-transform: capitalize;
    }

    select {
        width: 100%;
    }

    .review {
        border: 1px solid $cta;
        padding: 10px;
        width: 65%;
        margin: 0 auto;
    }
}

section.profile_page {
    padding: 1rem;
}