@import './variables';
@import './mixins';

#signup {
    height: max-content;
    display: grid;
    #sign_up_form{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 1rem;
        gap: 1rem;
        place-self: center;
        p {
            display: flex;
            width: 100%;
            gap: 1rem;
            input {
                width: 100%;
            }
        }

        button {
            margin: 0 auto;
        }
    }
}